
.softDevBanner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.softDevBanner__container{
    position: relative;
    width: 100%;
}
.softDevBanner__container-bg img{
    width: 100%;
    height: 150px;
    border-radius: 8px;
}



